________________________________________________________________________________________________________________________


* Yuvraj Sutar 
* yuvrajsutar009@gmail.com
_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

append(): Adds an element to the end of a list.

insert(): Inserts an element at a specific index in the list.

extend(): Adds all the elements of a given list to the end of the current list.

remove(): Removes the first occurrence of a specific element from the list.

pop(): Removes and returns the element at a specific index in the list (defaults to the last element if no index is specified).

clear(): Removes all elements from the list.

index(): Returns the index of the first occurrence of a specific element in the list.

count(): Returns the number of occurrences of a specific element in the list.

sort(): Sorts the elements of the list in ascending order.

reverse(): Reverses the order of the elements in the list.

In [2]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [3]:
# Add an element to the set
s1.add(4)  # s1 is now {1, 2, 3, 4}

In [4]:
s1

{1, 2, 3, 4}

In [5]:
# Add multiple elements to the set
s1.update([5, 6, 7])  # s1 is now {1, 2, 3, 4, 5, 6, 7}

In [6]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [7]:
# Remove an element from the set
s1.remove(6)  # s1 is now {1, 2, 3, 4, 5, 7}

In [8]:
s1

{1, 2, 3, 4, 5, 7}

In [9]:
# Remove an element from the set, if it is present
s1.discard(8)  # s1 is unchanged

In [10]:
s1

{1, 2, 3, 4, 5, 7}

In [11]:

# Remove and return an arbitrary element from the set
element = s1.pop()  # element is 1, and s1 is now {2, 3, 4, 5, 7}

In [12]:
s1

{2, 3, 4, 5, 7}

In [13]:
# Remove all elements from the set
s1.clear()  # s1 is now an empty set

In [14]:
s1

set()

In [15]:
# Find the union of two sets
s3 = s1.union(s2)  # s3 is {3, 4, 5}

In [16]:
s3

{3, 4, 5}

In [17]:
# Find the intersection of two sets
s4 = s1.intersection(s2)  # s4 is an empty set

In [18]:
s4

set()

In [19]:
# Find the difference of two sets
s5 = s1.difference(s2)  # s5 is an empty set

In [20]:
s5

set()

In [21]:
# Check if one set is a subset of another set
is_subset = s2.issubset(s3)  # is_subset is True

In [22]:
is_subset

True