________________________________________________________________________________________________________________________


* Yuvraj Sutar 
* yuvrajsutar009@gmail.com
_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

These are some of the most commonly used functions and methods available for use with tuples in Python.

len(): Returns the length of the tuple. 

max(): Returns the maximum element of the tuple.

min(): Returns the minimum element of the tuple.

sum(): Returns the sum of all the elements of the tuple.

sorted(): Returns a new sorted list from the elements of the tuple.

tuple(): Converts an iterable (such as a list or a string) to a tuple.

In [3]:
numbers = (1, 2, 3, 4, 5)

In [4]:
# Get the length of the tuple
length = len(numbers)  # length is 5

In [9]:
length

5

In [4]:
# Get the maximum element of the tuple
maximum = max(numbers)  # maximum is 5

In [5]:
maximum

5

In [6]:
# Get the minimum element of the tuple
minimum = min(numbers)  # minimum is 1

In [7]:
minimum

1

In [8]:
# Get the sum of all the elements of the tuple
total = sum(numbers)  # total is 15

In [9]:
total

15

In [10]:
# Get a sorted list from the elements of the tuple
sorted_numbers = sorted(numbers)  # sorted_numbers is [1, 2, 3, 4, 5]

In [11]:
sorted_numbers

[1, 2, 3, 4, 5]

In [12]:
# Convert a list to a tuple
numbers_tuple = tuple([1, 2, 3])  # numbers_tuple is (1, 2, 3)

In [13]:
numbers_tuple

(1, 2, 3)

In [14]:
# Convert a string to a tuple
characters_tuple = tuple('abc')  # characters_tuple is ('a', 'b', 'c')

In [15]:
characters_tuple

('a', 'b', 'c')

In [13]:
a={'name':'yuvraj'}

In [16]:
type(a)

str

.............................................................................................................................................................................................................................................................

tuple method python with code example

1.len() - returns the number of elements in the tuple.

In [11]:
my_tuple = (1, 2, 3, 4)
len(my_tuple)

4

2.count() - returns the number of occurrences of a specific element in the tuple.

In [10]:
my_tuple = (1, 2, 3, 4, 2, 1)
my_tuple.count(2)

2

3.index() - returns the index of the first occurrence of a specific element in the tuple.

In [13]:
my_tuple = (1, 2, 3, 4, 2, 1)
my_tuple.index(3)

2

4.max() - returns the maximum element of the tuple.

In [16]:
my_tuple = (1, 2, 3, 4)
max(my_tuple)

4

5.min() - returns the minimum element of the tuple

In [18]:
my_tuple = (1, 2, 3, 4)
min(my_tuple)

1

6.sum() - returns the sum of all the elements of the tuple.

In [19]:
my_tuple = (1, 2, 3, 4)
sum(my_tuple)

10

7.sorted() - returns a new sorted list from the elements of the tuple.

In [21]:
my_tuple = (4, 2, 1, 3)
sorted(my_tuple)

[1, 2, 3, 4]

________________________________________________________________________________________________________________________


* Yuvraj Sutar 
* yuvrajsutar009@gmail.com
_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________