________________________________________________________________________________________________________________________


* Yuvraj Sutar 
* yuvrajsutar009@gmail.com
_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

# Format function

- str.format() is one of the string formatting methods in Python3, which allows multiple substitutions and value formatting. This method let you concatenate elements within a string through positional formatting.

- Using a Single Formatter :

 -Formatters work by putting in one or more replacement fields and placeholders defined by a pair of curly braces { } into a string and calling the str.format(). 
 
 -The value we wish to put into the placeholders and concatenate with the string passed as parameters into the format function.

Syntax:

{ } .format(value)

In [1]:
#Example

#using format option in a simple string 
print ("{}, A computer science portal for students.".format("AIS"))

AIS, A computer science portal for students.

In [2]:
#Example

# using format option for a value stored in a variable 
str1 = "This article is written in {}"
print (str1.format("Python"))

This article is written in Python

In [3]:
#Example

# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(20))

Hello, I am 20 years old !

* Using Multiple Formatters :

 -Multiple pairs of curly braces can be used while formatting the string.

Syntax:

{ } { } .format(value1, value2)

In [4]:
#Example

#Multiple placeholders in format() function 
my_string = "{} is a {} science portal for {}"
print (my_string.format("w3 school", "computer", "students !"))

w3 school is a computer science portal for students !

In [5]:
"my name is {n}, my age is {a}".format(n="Yuvraj",a=28)

'my name is Yuvraj, my age is 28'

In [6]:
" my name is {Name}, my age is {age}, city name is {city}".format(city="pune",Name="nikhil",age=25)

' my name is nikhil, my age is 25, city name is pune'

In [7]:
#advance example

l=["Yuvraj","viky","Vaibhav","me"]
a=[23,35,25,26]
c=["pune","nandani","kolhapur"]

for i in range(len(c)):
    print("my name is {n}, my age is {a}, my city is {c}".format(c=c[i],n=l[i],a=a[i]))

my name is Yuvraj, my age is 23, my city is pune
my name is viky, my age is 35, my city is nandani
my name is Vaibhav, my age is 25, my city is kolhapur

In [8]:
l=["Yuvraj","viky","Vaibhav","me"]
a=[23,35,25,26]
c=["pune","nandani","kolhapur","sangli"]

for i in range(len(l)):
    print("my name is {}, my age is {}, my city is {}".format(l[i],a[i],c[i]))

my name is Yuvraj, my age is 23, my city is pune
my name is viky, my age is 35, my city is nandani
my name is Vaibhav, my age is 25, my city is kolhapur
my name is me, my age is 26, my city is sangli

In [9]:
n=["a","b","c"]
a=[24,25,29]
for i in n:
    print("my name is {name}, my age is {age}".format(age=28,name=i))

my name is a, my age is 28
my name is b, my age is 28
my name is c, my age is 28