________________________________________________________________________________________________________________________


* Yuvraj Sutar 
* yuvrajsutar009@gmail.com
_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

  #  Python Loops


- A loop statement allows us to execute a statement or group of statements multiple times. The following diagram illustrates a loop statement âˆ’

* Python programming language provides the following types of loops to handle looping requirements.

1.For loop

2.While Loop

3.Nested Loops

# For Loop

- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- This is less like the for keyword in other programming language, and works more like an iterator method as found in other object-orientated programming languages.

Syntax:
[10,20,30,40]

for i in sequence:
        statements(s)

- If a sequence contains an expression list, it is evaluated first. Then, the first item in the sequence is assigned to the iterating variable iterating_var.
- Next, the statements block is executed. Each item in the list is assigned to iterating_var, and the statement(s) block is executed until the entire sequence is exhausted.

In [3]:
#Example
#Print each fruit in a fruit list:
#TCC="apple"
#TCC = "banana"

fruits = ["apple", "banana", "cherry","ABC","AIS"]
[0,1,2,3,4]
for a in range(5):
    for j in range(5):
        print("A")

1
2
3
4
5
6
7
8
9

In [3]:
import numpy as np
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [5]:
#range(1,5)  #(0,1,2,3,4)

for i in range(5):
    for j in range(5):
        for k in range(5):
            print("TCC")

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(1,101):
    if i%2==0:
        print(i,"is even number")
    else:
        print(i,"is odd number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number
20 is even number
21 is odd number
22 is even number
23 is odd number
24 is even number
25 is odd number
26 is even number
27 is odd number
28 is even number
29 is odd number
30 is even number
31 is odd number
32 is even number
33 is odd number
34 is even number
35 is odd number
36 is even number
37 is odd number
38 is even number
39 is odd number
40 is even number
41 is odd number
42 is even number
43 is odd number
44 is even number
45 is odd number
46 is even number
47 is odd number
48 is even number
49 is odd number
50 is even number
51 is odd number
52 is even number
53 is odd number
54 is even number
55 is odd number
56 is even number
57 is odd number
58 is even number
59 is odd number
60 is even number
61 is odd number
62 is even number
63 is odd number
64 is even number
65 is odd number
66 is even number
67 is odd number
68 is even number
69 is odd number
70 is even number
71 is odd number
72 is even number
73 is odd number
74 is even number
75 is odd number
76 is even number
77 is odd number
78 is even number
79 is odd number
80 is even number
81 is odd number
82 is even number
83 is odd number
84 is even number
85 is odd number
86 is even number
87 is odd number
88 is even number
89 is odd number
90 is even number
91 is odd number
92 is even number
93 is odd number
94 is even number
95 is odd number
96 is even number
97 is odd number
98 is even number
99 is odd number
100 is even number

In [16]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

* Looping Through a String

Even strings are iterable objects, they contain a sequence of characters:

In [10]:
#Example
#Loop through the letters in the word "banana":

for x in "banana":
    print(x)

b
a
n
a
n
a

# Using else Statement with Loops 

- Python supports having an else statement associated with a loop statement.

- If the 'else' statement is used with a 'for loop', the 'else' block is executed only if for loops terminates normally 

- If the 'else' statement is used with a while loop, the 'else' statement is executed when the condition becomes false.

In [8]:

#The following example illustrates the combination of an else statement with a for statement that searches for even number in given list.

numbers = [11,32,55,39,55,75,37,21,23,41,13]

for num in numbers:
    if num%2 == 0:
        print ('the list contains an even number')
        break
    else:
        print ('the list doesnot contain even number')

the list doesnot contain even number
the list contains an even number

In [10]:
 num =21
if num%2 == 0:
    print ('even number')
else:
    print ('odd number')

odd number

In [12]:
for num in range(1,101):
    if num%2 == 0:
        print (num,'even number')
    else:
        print (num,'odd number')

1 odd number
2 even number
3 odd number
4 even number
5 odd number
6 even number
7 odd number
8 even number
9 odd number
10 even number
11 odd number
12 even number
13 odd number
14 even number
15 odd number
16 even number
17 odd number
18 even number
19 odd number
20 even number
21 odd number
22 even number
23 odd number
24 even number
25 odd number
26 even number
27 odd number
28 even number
29 odd number
30 even number
31 odd number
32 even number
33 odd number
34 even number
35 odd number
36 even number
37 odd number
38 even number
39 odd number
40 even number
41 odd number
42 even number
43 odd number
44 even number
45 odd number
46 even number
47 odd number
48 even number
49 odd number
50 even number
51 odd number
52 even number
53 odd number
54 even number
55 odd number
56 even number
57 odd number
58 even number
59 odd number
60 even number
61 odd number
62 even number
63 odd number
64 even number
65 odd number
66 even number
67 odd number
68 even number
69 odd number
70 even number
71 odd number
72 even number
73 odd number
74 even number
75 odd number
76 even number
77 odd number
78 even number
79 odd number
80 even number
81 odd number
82 even number
83 odd number
84 even number
85 odd number
86 even number
87 odd number
88 even number
89 odd number
90 even number
91 odd number
92 even number
93 odd number
94 even number
95 odd number
96 even number
97 odd number
98 even number
99 odd number
100 even number

* Yuvraj Sutar 
* yuvrajsutar009@gmail.com